# https://hydra.cc/docs/configure_hydra/intro/

# enable color logging
defaults:
  - override hydra_logging: colorlog
  - override job_logging: colorlog

# output directory, generated dynamically on each run
run:
  dir: ${paths.log_dir}/${task_name}/${tags[0]}_${tags[1]}_${tags[2]} ${now:%Y-%m-%d} ${now:%H-%M-%S}
sweep:
  dir: ${paths.log_dir}/${task_name}
  subdir: ${tags[0]}_${tags[1]}_${tags[2]}_${tags[3]}
  
job_logging:
  handlers:
    file:
      # Incorporates fix from https://github.com/facebookresearch/hydra/pull/2242
      filename: ${hydra.runtime.output_dir}/${task_name}.log


